<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.metrorutadf"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <supports-screens 
        android:largeScreens="true" 
        android:normalScreens="true" 
        android:smallScreens="true" 
        android:resizeable="true" 
        android:anyDensity="true" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <access origin="http://127.0.0.1*"/>
    <access origin="http://maps.google.com*"/>
    <access origin="http://maps.gstatic.com*"/>
    <access origin="http://maps.googleapis.com*"/>
    <access origin="*.google.com"/>
    <access origin="*.gstatic.com"/>
    <access origin="*.googleapis.com"/>
    <access origin="http://*.google.com"/>
    <access origin="http://*.gstatic.com"/>
    <access origin="http://*.googleapis.com"/>
    <access origin="http://*.phonegap.com"/>
    <access origin="http://www.phonegap.com*"/>
    <access origin="http://maps.google.com/maps/api/*"/>
    <access origin="*"/>
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MetrorutaDF"
            android:label="@string/title_activity_metroruta_df" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>