<script type="text/x-handlebars" data-template-name="index">
    <ul data-role="listview" id="listaMenu">
        <li><a href="#mapa"><img src="imgs/iconosMenu/mapa.png" class="ui-li-icon" /><h1>Ver mapa</h1></a></li>
        <li><a href="#lineas"><img src="imgs/iconosMenu/lineas.png" class="ui-li-icon" /><h1>Ver líneas del metro</h1></a></li>
        <li><a href="#estaciones"><img src="imgs/iconosMenu/buscar.png" class="ui-li-icon" /><h1>Buscar estación</h1></a></li>
        <li><a href="#calcularRuta"><img src="imgs/iconosMenu/ruta.png" class="ui-li-icon" /><h1>Calcular ruta</h1></a></li>
        <li><a href="#" onclick="C_BuscarEstacionesCercanas.dispatch()"><img src="imgs/iconosMenu/cercanas.png" class="ui-li-icon" /><h1>Buscar estaciones cercanas</h1></a></li>
        <li><a href="#acerca" data-rel="dialog"><img src="imgs/iconosMenu/acerca.png" class="ui-li-icon" /><h1>Acerca de Metroruta DF</h1></a></li>
    </ul>
</script>
